.container {
  width: 100%;
  height: 638px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.header {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  color: #4a4c53;
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 55px;
  .search i {
    font-size: 23px;
  }
}
