.sidenav {
  position: fixed;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: #83225c;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 9999;
  padding-top: 60px;
  top: 75px;
  height: 100%;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.menue {
  span {
    font-size: 37px;
  }
  cursor: pointer;
  .items {
    width: 80%;
    margin: auto;
    .item {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      justify-content: space-between;
      i {
        color: #fff;
      }
      .item-left {
        display: flex;
        align-items: center;
        p {
          color: #fff;
          font-size: 15px;
        }
      }
      .item-icon {
        margin-right: 20px;
        width: 41px;
        height: 43px;
        background: #fff;
        border-radius: 6px;
        text-align: center;
        display: flex;
        align-items: center;
        img {
          width: 28px;
          height: 29px;
          margin-left: 5px;
        }
      }
    }
    .line {
      border: 1px solid #ffffff;
      margin: 15px 0;
    }
    .sub-item {
      display: flex;
      align-items: center;
      img,
      i {
        margin-right: 20px;
      }
      p {
        color: #fff;
        font-size: 15px;
      }
      i {
        color: #fff;
        font-size: 20px;
      }
    }
    .last-item {
      margin-bottom: 20px;
    }
  }
}
